* {
  box-sizing: border-box;
}

.title {
  font-size: 48px;
}

.container {
  background-color: papayawhip;
  padding: 24px;
}

.container p {
  font-family: sans-serif;
}

.p-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .title {
    font-size: 64px;
  }

  .p-container {
    flex-wrap: nowrap;
  }

  .p-container p {
    padding: 20px;
  }

  .container {
    background-color: gainsboro;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 120px;
  }
}

@media screen and (min-width: 1300px) {
  .p-container p {
    max-width: 550px;
  }
}
